.header{
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.header_navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-list-img{
    width: 80px;
}

.navbar-list{
    list-style: none;
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.navbar-item{
    display: inline-block;
    padding: 20px 20px 15px 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 400;
}

.user_form{
    display: none;
    position: absolute;
    top:100%;
    /* transform: translateX(50px); */
    z-index: 1000;
    
}

.user_action:hover .user_form{  
    display: block;
}

.user_action{
    position: relative;

}


.user_form>li:hover:before{
	transform: translateX(0);
	color: white;
	transition-duration: 0.4s;
}

.user_form>li:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateX(100%);
	background-color: #FF385C;
	transition-duration: 0.3s;
	z-index: -1;
}

.user_form>li{
	padding: 5px 0;
	position: relative;
	overflow: hidden;
}

.shop-img{
    gap: 20px;
}

.shop-img{
    width: 80px;
}

table, th, td {
    margin-top: 10px;
    border:1px solid black;
  }
.table{
    text-align: center;
}
img{
    width: 100%;
}

.container{
   padding: 20px 20px 0px 20px;
}

.shop_option{
   list-style: none;
   padding: 0;
}

.option-item{
    cursor: pointer;
}
.option-item:hover{
    color: blue;
}


.footer_top{
	padding: 40px 0 0 0;
	background-color: #333333;
	color: white;
}

.footer_bomttom{
	padding: 30px 0;
	background-color: #2c2c2c;
	color: white;
}

.footer_link, li{
    list-style: none;
    padding-bottom: 10px;
}

